<p id="notice"><%= notice %></p>

<h1>Api Stuffs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_stuffs.each do |api_stuff| %>
      <tr>
        <td><%= link_to 'Show', api_stuff %></td>
        <td><%= link_to 'Edit', edit_api_stuff_path(api_stuff) %></td>
        <td><%= link_to 'Destroy', api_stuff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api Stuff', new_api_stuff_path %>
