<!DOCTYPE html>
<html>
  <head>
    <title>Imagenes 360</title>
    <meta http-equiv="Content-Type" content="text/javascript; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="panoramicos, 360, fotografia, fotos, programacion, react, rails, imagenes"/>
    <meta name="description" content="Imágenes 360. Panorámicos fotográficos o digitales de productos o espacios arquitectonicos. Fotografía decorativa y de productos. Programación, webapps en RubyOnRails, ReactJS, Redux, AJAX, jQuery, JS "/>
    <meta name="author" content="Luciano Uribe"/>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if Rails.env.development? %>
      <script src="http://localhost:3808/webpack-dev-server.js"></script>
    <% end %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag *webpack_asset_paths('application') %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </body>
</html>
