<!DOCTYPE html>
<html>
  <head>
    <title>Imagenes 360</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="panoramicos, 360, fotografia, fotos, programacion, react, rails, imagenes"/>
    <meta name="description" content="Imágenes 360. Panorámicos fotográficos o digitales, espacios arquitectonicos, productos y objetos. Fotografía decorativa y de productos. Programación, webapps en RubyOnRails, ReactJS, Redux, AJAX, jQuery, JS "/>
    <meta name="author" content="Luciano Uribe"/>
    <meta property="og:title" content="Imagenes 360" />
    <meta property="og:url" content="http://www.imagene360.net" />
    <meta property="og:image" content="http://res.cloudinary.com/lucianouribe/image/upload/v1489525268/espacios_06_otds0y.jpg" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if Rails.env.development? %>
      <script src="http://localhost:3808/webpack-dev-server.js"></script>
    <% end %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag *webpack_asset_paths('application') %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

    <script type="text/javascript" src="app/assets/javascripts/libs/pano2vr_player.js" />
    <script type="text/javascript" src="app/assets/javascripts/libs/pano2vrgyro.js" />
    <script type="text/javascript" src="app/assets/javascripts/libs/skin.js" />

  </body>

</html>
